{% extends 'apps/home/base.html' %}
{% load i18n %}
{% block title %}Password Reset{% endblock title %}
{% block classfeatures %}class="register-page"{% endblock classfeatures %}
{% block content %}
<div class="login-box">
    <div class="login-logo">
      <a href="{% url 'home' %}"><b>Admin</b>Club</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">{% translate 'Escribe una nueva contraseña en ambas casillas.' %}</p>
        {% if form.errors %}
          <div class="alert alert-danger">
            <ul>
              {% for field, errors in form.errors.items %}
                {% for error in errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
  
        <form method="post"> {% csrf_token %}
          <div class="input-group mb-3">
            <input id="new_password1" type="password" class="form-control" name="new_password1" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="new_password2" placeholder="Confirm Password"
            hx-post={% url "check_password_match" %}
            hx-trigger="keyup changed delay:500ms"
            hx-target="#password-match-message"
            hx-vals="js:{password1: document.getElementById('new_password1').value}"
            >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div id="password-match-message" class="text-danger"></div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        <p class="mt-3 mb-1">
          <a href="{% url 'login' %}">Login</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
{% endblock content %}
