    <div class="table-responsive">
      <table class="table m-0">
        <thead>
        <tr>
          <th>ID</th>
          <th>Total</th>
          <th>Pagos</th>
          <th>Usos</th>
        </tr>
        </thead>
        <tbody>
        {% for prepago in socio_obj.get_prepagos %}
        <tr data-widget="expandable-table" aria-expanded="false"
          _="on click toggle the *display of the next <p/>
            toggle .d-none on the next <tr/>"
        >
          <td><a href="{{ prepago.get_absolute_url }}">{{ prepago.id }}</a></td>
          <td>{{ prepago }}</td>
          {% if prepago.pagado %}
          <td><span class="badge badge-success">Pagado</span></td>
          {% else %}
          <td><span class="badge badge-warning">Pendiente</span></td>
          {% endif %}
          <td>
            {% if prepago.activo %}
            <span class="badge badge-success">{{ prepago.comanda_set.all.count }}/{{ prepago.cantidad }}</span>
            {% else %}
            <span class="badge badge-secondary">Inactivo</span>
            {% endif %}
          </td>
        </tr>
        <tr class="expandable-body d-none">
          <td colspan="4">
            <div class="card-body">
              <p>Usos </p>
              <ul>
                {% for item in prepago.get_uses_list %}
                <li>{{ item.fecha | date:'d M Y' }}</li>
                {% empty %}
                <li>Sin registros</li>
                {% endfor %}
              </ul>
            </div>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->

  <!-- /.card-body -->
  
  <div class="card-footer clearfix" hx-on:click="alert('SweetAlert2 is working!')">
    <a _="on click toggle .float-right on me"
      class="btn btn-sm btn-info float-left">Place New Order</a>
    {% comment %} <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Ver Todos</a> {% endcomment %}
  </div>
  <!-- /.card-footer -->