# Django static & media
/staticfiles/
/media/
# Django migrations
migrations/
# Django management
management/

# Editor & env
.env
.vscode/
.idea/

# Python compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
env/
venv/
.Python

# Django settings
tgbot/settings/local.py
local.py

# Django DB
*.sqlite3
db.sqlite3

# Logs
*.log
logs/

# Packages
*.egg
*.egg-info/
.eggs/
dist/
build/

# Installer stuff
pip-log.txt
pip-delete-this-directory.txt

# Coverage / testing
.coverage*
.tox/
.noseids
htmlcov/
*,cover
nosetests.xml
coverage.xml
tests.py

# Misc
*.bak
*.sql
whatsapp.py
set_webhook.py
set_webhook.sh
backup_db.py

# PyInstaller
*.spec
*.manifest

# PyBuilder
target/

# Sphinx docs
docs/_build/

# OS generated
.DS_Store
Thumbs.db
