{% comment %} <a href="#" 
    class="btn btn-tool btn-sm"
    hx-get = {% url 'bot:send_pedido' user_id=user_id pedido_id=parent_obj.pedido_id %}
    hx-swap = outerHTML
    hx-success = "swal('Exito!', 'El mensaje se envió correctamente', 'success')"
    hx-error = "swal('Error!', 'Error al enviar el mensaje', 'error')">
    {% if sended %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-comment-dollar"></i>{% endif %}
    
</a> {% endcomment %}

<a class="btn btn-app bg-info"
    hx-get = {% url 'bot:send_pedido' user_id=bot_user_id pedido_id=obj.id %}
    hx-swap = outerHTML>
    <span class="badge bg-danger">{{ obj.get_all_items.count }}</span>
    {% if sended %}<i class="fas fa-check"></i> Enviado{% else %}<i class="fab fa-telegram"></i> Enviar{% endif %}
    
</a>