{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Detalle</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'main:inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'socios:list' %}">Socios</a></li>
            <li class="breadcrumb-item active">{{socio_obj}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div><!-- /.content-header -->
{% endblock content-header %}

{% block main-content %}
<div class="row">
  <div class="col-md-4">

    <!-- Profile Image -->
    <div class="card card-success card-outline">
      <div class="card-body box-profile">
        <div class="text-center">
          <img class="profile-user-img img-fluid img-circle" src="{% static socio_obj.persona.get_profile_pic_url %}" alt="User profile picture">
        </div>

        <h3 class="profile-username text-center">{{ socio_obj }}</h3>

        <p class="text-muted text-center">Op.:<a href="{{ socio_obj.operador.get_absolute_url }}">{{ socio_obj.operador }}</a></p>

        <ul class="list-group list-group-unbordered mb-3">
          {% for dato in socio_obj.get_datos_contacto %}
          <li class="list-group-item">
            <b>{{ dato.tipo }}</b> {% if dato.tipo == "Celular" %}<a href="https://wa.me/591{{ dato.dato }}" class="float-right">{{ dato.dato }}</a>{%else%}<a class="float-right">{{ dato.dato }}</a>{% endif %} 
          </li>
          {% empty %}
          <li class="list-group-item" hx-on:click="alert('funcion proximamente habilitada!')">
            <b>Agregar dato de Contacto</b> <a class="float-right">#</a>
          </li>
          {% endfor %}
          {% if socio_obj.get_nivel_licencia %}
          <li class="list-group-item">
            <b>Licencia (nivel)</b> <a class="float-right">{{ socio_obj.persona.get_nivel_licencia }}</a>
          </li>
          {% endif %}
        </ul>

        <div id="item-consumo"></div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div id="nuevo-consumo">
      {% if parent_obj %}
      <!-- Nuevo Consumo -->
        {% include 'apps/comanda/partials/comanda-pendiente.html' %}
      {% else %}
        {% include 'apps/comanda/partials/comanda-nueva.html' %}
      {% endif %}
    </div>
    
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Detalle de Pagos</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content">
            <i class="fas fa-sync-alt"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body" id="prepagos-list-and-form">
        {% include 'apps/prepagos/partials/list-form.html' %}
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
  <div class="col-md-8">
    <div class="card">
      <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#prepagos" data-toggle="tab" >Pre Pagos</a></li>
          <li class="nav-item"><a class="nav-link" href="#asistencia" data-toggle="tab" hx-get="{{ socio_obj.get_asistencia }}" hx-target="#asistencia">Asistencia</a></li>
          <li class="nav-item"><a class="nav-link" href="#referidos" data-toggle="tab" hx-get="{{ socio_obj.get_referidos }}" hx-target="#referidos">Referidos</a></li>
        </ul>
      </div><!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" id="prepagos">
              {% include "apps/prepagos/partials/table-list.html" %}
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="asistencia">
            <!-- asistencia -->
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="referidos">
            <!-- referidos -->
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div><!-- /.card-body -->
    </div>
    <!-- /.nav-tabs-custom -->
  </div>
  <!-- /.col -->
</div>

{% endblock main-content %}
{% block js %}
<script>
  function outputMessage(error){
    Swal.fire({
      icon: 'warning',
      title: error,
      text: 'Something went wrong!',
      footer: '<a href="{% url "main:inicio" %}" >Why do I have this issue?</a>'
    })
  }

</script>
{% endblock js %}