
<form hx-post="{% url "personas:agregar-referido" id_referidor %}" hx-target="#referidos">
    <div class="card-body">
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} {% if field.field.required %}*{% endif %}
                {{ field }}
                {% if field.help_text %}
                    <p class="help"> {{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="id_activo" checked>
            <label class="form-check-label" for="id_activo">Activo</label>
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>