<div class="card card-warning card-outline">
    <div class="card-header border-transparent">
        <h3 class="card-title">Nuevo Consumo ({{parent_obj.fecha | date:'d M Y - D' }})</h3>
        
        <div class="card-tools">
        <span class="badge {% if parent_obj.status == 'p' %} badge-warning{% elif parent_obj.status == 'e' %} badge-success{% else %} badge-danger{% endif %}">{{ parent_obj.status|upper }}</span>
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0" id="comanda-list-and-form">
        {% include 'apps/comanda/partials/table-form.html' %}
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <div class="form-group">
            <button type="button" class="btn btn-success btn-block"
            hx-get="{% url 'comanda:hx-update-status' id_comanda=parent_obj.id %}"
            >Pagada</button>
        </div>
    </div>
</div>
<!-- /.card -->