<tr id="receta-{{ obj.id }}">
  <td><a href="{{ obj.receta.get_absolute_url }}">{{ obj }}</a></td>
  <td>{{ obj.cantidad }}</td>
  <td>{{ obj.get_puntos }}</td>
  <td>{{ obj.get_total }}</td>
  <td>
    <div class="btn-group">
      <button type="button" class="btn btn-danger btn-sm"
        data-url="{{ obj.get_crud_url }}"
        data-receta="{{ obj.receta }}"
        data-cantidad="{{ obj.cantidad }}"
        hx-target="#comanda-list-and-form"
        >
        <i class="fas fa-trash"></i>
      </button>
      <button type="button" class="btn btn-info btn-sm"
        hx-put="{{ obj.get_crud_url }}"
        hx-target="#receta-{{ obj.id }}"
        >
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </td>
</tr>

{% block js %}

<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  });

  document.querySelectorAll('.btn-danger').forEach(button => {
      button.addEventListener('click', function() {
          const url = this.getAttribute('data-url');
          const receta = this.getAttribute('data-receta');
          const cantidad = this.getAttribute('data-cantidad');

          Swal.fire({
              title: 'Confirma',
              text: `¿Quieres eliminar ${receta} x ${cantidad}?`,
              icon: 'warning',
              showCancelButton: true,
              confirmButtonText: 'Sí, eliminar',
              cancelButtonText: 'Cancelar'
          }).then((result) => {
              if (result.isConfirmed) {
                  htmx.ajax('DELETE', url, {
                      target: this.getAttribute('hx-target'),
                      swap: 'innerHTML'
                  });
              }
          });
      });
  });
</script>

{% endblock js %}
