  <div class="table-responsive">
    {% if msg %}
      {% include 'apps/pedidos/partials/item-deleted.html' %}
    {% endif %}
    <table class="table m-0">
      <thead>
        <tr>
          <th></th>
          <th>Cant.</th>
          <th>P.Vol.</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Totales</strong></td>
          <td>{% if parent_obj.get_cart_count_items %}{{ parent_obj.get_cart_count_items }}{% else %}0{% endif %}</td>
          <td>{% if parent_obj.get_cart_points %}{{ parent_obj.get_cart_points }}{% else %}0{% endif %}</td>
          <td>{% if parent_obj.get_cart_total %}{{ parent_obj.get_cart_total }}{% else %}0{% endif %}</td>
          <td></td>
        </tr>
        {% for obj in parent_obj.get_all_items %}
          {% include 'apps/comanda/partials/comanda-item.html' %}
        {% empty %}
        <tr>
          <td>Sin Datos</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if parent_obj.status == 'p' %}
    <!-- Formulario para Agregar items -->
    <div class="card-body">
      <form hx-post="{{ parent_obj.get_add_receta_url }}" hx-target="#comanda-list-and-form">
        {% csrf_token %}
        <div class="row align-items-end">
          {% for field in comanda_item_form %}
          <div class="col-4 mb-3{% if field.field.required %} {{ comanda_item_form.required_css_class}}{% endif %}">
            {{ field.label_tag }} {% if field.field.required %}*{% endif %}
            <div class="input-group">
              {{ field }}
              {% if field.help_text %}
                <p class="help"> {{ field.help_text|safe }}</p>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        
          <div class="form-group col-4 mb-3">
            <label></label>
            <button id="btn_submit" type="submit" class="btn btn-primary btn-block">Agregar</button>
          </div>
        </div>
      </form>
      
    </div>
  
  {% endif %}
    
  {% include 'apps/comanda/partials/total.html' %}

  
