<!-- Prepagos -->
<div class="card-body" hx-target="this" hx-swap="outerHTML">
  <!-- checkbox -->
  <div class="row">
    <div class="col-5">
      <div class="form-group">
        <label class="col-form-label" ><i class="fas fa-check"></i> Prepagos: </label>
        {% for prepago in parent_obj.get_uniq_prepagos_list %}
          <div class="form-check" >
            <input class="form-check-input" type="checkbox" {% if prepago in parent_obj.get_cart_prepagos %}checked=""{% endif %}
            hx-get="{% url 'comanda:hx-add-prepago' id_comanda=parent_obj.id id_prepago=prepago.id %}" hx-trigger="change" >
            <label class="form-check-label"> {{ prepago }} bs.  <span id="prepagos-usados" class="badge{% if prepago.pagado %} badge-success{% else %} badge-warning{% endif %} ">
                {{ prepago.comanda_set.all.count }}/{{ prepago.cantidad }}
              </span>
            </label>
          </div>
        {% empty %} 
          <div class="form-check">
            <input class="form-check-input" type="checkbox" disabled="">
            <label class="form-check-label">No tiene prepagos </label>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-7">
      <div class="info-box" id="total_a_pagar">
        {% if parent_obj.consumo.transferencia %}
        {% include "apps/comanda/partials/transfer.html" %}
        {% else %}
          {% include "apps/comanda/partials/dollar.html" %}
        {% endif %}

        <div class="info-box-content">
          <span class="info-box-text">Total a pagar</span>
          <div class="custom-control custom-switch">
            <input
              hx-get="{% url 'consumos:crud_transferencia' parent_obj.consumo.id %}"
              hx-trigger="change"
              hx-target="#icon-selected"
              hx-swap="outerHTML"
              type="checkbox" 
              class="custom-control-input" 
              id="qrSwitch"
              name="qrSwitch"
              {% if parent_obj.consumo.transferencia %}
              checked
              {% endif %}
              {% if parent_obj.get_cart_cash == 0 %}
              disabled
              {% endif %}>
            <label class="custom-control-label" for="qrSwitch">{{ parent_obj.get_cart_cash }}</label>
          </div>
        </div>
        <!-- /.info-box-content -->
      </div>
    </div>
  </div>
</div>

<script>


    function outputMessage(message, type) {
      Swal.fire({
          title: type === 'error' ? 'Error' : 'Hecho',
          text: message,
          icon: type === 'error' ? 'error' : 'success',
          confirmButtonText: 'Ok'
      });
    }

    function showMessages() {
      {% if messages %}
          {% for message in messages %}
              outputMessage("{{ message.message|escapejs }}", "{{ message.tags }}");
          {% endfor %}
      {% endif %}
    } 

    // Mostrar mensajes después de una actualización parcial con HTMX específica
    document.body.addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.elt.getAttribute('data-action') === 'delete') {
            showMessages();
        }
    });

    // Mostrar mensajes al cargar la página
    showMessages();

</script>


