
    <div class="card-header">
      
      <h3 class="card-title"><small class="text-muted"> Ref.</small><a href="{{referidor.get_absolute_url }}"> {{ referidor }} </a></h3>

      <div class="card-tools">
        <span title="{{ referidos.count }} referidos" class="badge bg-warning">{{ referidos.count }}</span>

        <button type="button" class="btn btn-success btn-xs" title="Agregar" data-widget="chat-pane-toggle"
          hx-get="{% url "personas:agregar-referido" id_referidor%}"
          hx-target="#referidos"
        >
          <i class="fas fa-plus-circle"></i>
        </button>

      </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover m-0">
            <thead>
            <tr>
              <th>Fecha</th>
              <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {% for referido in referidos %}
            <tr data-widget="expandable-table" aria-expanded="false">
              <td>{{ referido.timestamp }}</td>
              <td><a href="{{ referido.get_absolute_url }}"> {{ referido.persona.nombre }} {{ referido.persona.apellido }}</a></td>
            </tr>
            {% empty %}
            <tr data-widget="expandable-table" aria-expanded="false">
              <td>Ningun Referido</td>
              <td>...</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->

  
