{% extends 'base.html' %}

{% block content-header %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Comanda</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'main:inicio' %}">Home</a></li>
            <li class="breadcrumb-item active">Comanda</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div><!-- /.content-header -->

{% endblock content-header %}

{% block main-content %}
<div class="row" >
<div class="col-lg-6">
    <div class="col-lg-6">
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Comanda</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="form-group">
              <label class="control-label" for="inputSuccess"><i class="fas fa-user"></i> Nombre:</label>
              <input type="text" class="form-control is-valid" id="inputSuccess" placeholder="Socio ...">
            </div>
      
            <form role="form">
              <div class="col-sm-6">
                <!-- checkbox -->
                <div class="form-group">
                  <label class="control-label">Aloe</label>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Original</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Mandarina</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Mango</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label">Uva</label>
                  </div>
                  
                </div>
                <div class="form-group">
                  <label class="control-label">Batido</label>
                  {% for detail in prod.get_details %}
                    <div class="form-check col-4">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label">{{ detail.sabor }}</label>
                    </div>
                    <div class="col-2">
                        <input id="cantidad-{{detail.id}}" value='{{detail.id}}'/>
                    </div>
                    
                  {% endfor %}
                </div>
              </div> 
            </form>
            
            <form role="form">
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Text</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Text Disabled</label>
                    <input type="text" class="form-control" placeholder="Enter ..." disabled="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- textarea -->
                  <div class="form-group">
                    <label>Textarea</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Textarea Disabled</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..." disabled=""></textarea>
                  </div>
                </div>
              </div>

              <!-- input states -->
              <div class="form-group">
                <label class="control-label" for="inputSuccess"><i class="fas fa-check"></i> Input with
                  success</label>
                <input type="text" class="form-control is-valid" id="inputSuccess" placeholder="Enter ...">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputWarning"><i class="far fa-bell"></i> Input with
                  warning</label>
                <input type="text" class="form-control is-warning" id="inputWarning" placeholder="Enter ...">
              </div>
              <div class="form-group">
                <label class="control-label" for="inputError"><i class="far fa-times-circle"></i> Input with
                  error</label>
                <input type="text" class="form-control is-invalid" id="inputError" placeholder="Enter ...">
              </div>

              <div class="row">
                
                <div class="col-sm-6">
                  <!-- radio -->
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="radio1">
                      <label class="form-check-label">Radio</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="radio1" checked="">
                      <label class="form-check-label">Radio checked</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" disabled="">
                      <label class="form-check-label">Radio disabled</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- select -->
                  <div class="form-group">
                    <label>Select</label>
                    <select class="form-control">
                      <option>option 1</option>
                      <option>option 2</option>
                      <option>option 3</option>
                      <option>option 4</option>
                      <option>option 5</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Select Disabled</label>
                    <select class="form-control" disabled="">
                      <option>option 1</option>
                      <option>option 2</option>
                      <option>option 3</option>
                      <option>option 4</option>
                      <option>option 5</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <!-- Select multiple-->
                  <div class="form-group">
                    <label>Select Multiple</label>
                    <select multiple="" class="form-control">
                      <option>option 1</option>
                      <option>option 2</option>
                      <option>option 3</option>
                      <option>option 4</option>
                      <option>option 5</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Select Multiple Disabled</label>
                    <select multiple="" class="form-control" disabled="">
                      <option>option 1</option>
                      <option>option 2</option>
                      <option>option 3</option>
                      <option>option 4</option>
                      <option>option 5</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- /.card-body -->
        </div>
        {% for detail in prod.get_details %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><strong>{{ detail.sabor }}</strong></h5>
              <br>
              <p class="card-text">
                {{ detail }} {{ prod.cantidad }}
                 <br>
                {{ detail.descripcion }}
                
              </p>

              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        {% empty %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Sin Datos</strong></h5>
            <br>
            <p class="card-text">
              Sin Datos
               <br>
              Sin Datos
              
            </p>

            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        
        {% endfor %}
      </div><!-- /.col-md-6 -->

</div>
<div class="col-lg-6"></div>
</div>


{% endblock main-content %}