{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Operadores</h1>
          
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'main:inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'operadores:list' %}">Operadores</a></li>
            <li class="breadcrumb-item active">{{operador}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div><!-- /.content-header -->
{% endblock content-header %}

{% block main-content %}

<div class="row">
    <div class="col-md-3">

      <div class="card card-widget collapsed-card">
        <div class="card-header">
          <div class="user-block">
            <img class="img-circle" src="{% static operador.get_profile_picture %}" alt="User Image">
            <span class="username"><a href="#">{{ operador }}</a></span>
            <span class="description">{{ operador.get_nivel_licencia }}</span>
          </div>
          <!-- /.user-block -->
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="display: none;">
          <p> Mas Detalles</p>
        </div>
        <!-- /.card-body -->
        <div class="card-footer card-comments" style="display: none;">
          
        </div>
        <!-- /.card-footer -->
        <div class="card-footer" style="display: none;">
          <form action="#" method="post">
            <img class="img-fluid img-circle img-sm" src="{% static operador.get_profile_picture %}" alt="Alt Text">
            <!-- .img-push is used to add margin to elements next to floating images -->
            <div class="img-push">
              <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
            </div>
          </form>
        </div>
        <!-- /.card-footer -->
      </div>

      <!-- About Me Box -->
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title">Detalle de Ingresos</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <p>{{ hoy }}</p>
        </div>
        <div class="card-body table-responsive p-0">
          

          <table class="table table-striped table-valign-middle">
            <thead>
            <tr>
              <th>Detalle</th>
              <th>Monto</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Total
                </td>
                <td>{{ totales.total_pagos }}</td>
                
              </tr>
              <tr>
            <tr>
              <td>
                Pagos Efectivo
              </td>
              <td>{{ totales.pagos_ef}}</td>
              
            </tr>
            <tr>
              <td>
                
                Pagos Transfer
              </td>
              <td><span class="badge bg-info">{{ totales.pagos_qr }}</span></td>
              
            </tr>
            <tr>
              <td>
                
                PrePagos Efectivo
              </td>
              <td>{{ totales.ppagos_ef }}</td>
              
            </tr>
            <tr>
              <td>
                
                PrePagos Transfer
                
              </td>
              <td><span class="badge bg-info">{{ totales.ppagos_qr }}</span></td>
              
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item"><btn hx-get="{% url 'operadores:profile' id=operador.id %}" hx-target="#resultados" class="nav-link active" data-toggle="tab">Reporte</btn></li>
            <li class="nav-item"><btn hx-get="{% url 'pedidos:list-by-operador' id_operador=operador.id %}" hx-target="#resultados" class="nav-link" data-toggle="tab">Pedidos</btn></li>
            <li class="nav-item"><btn hx-get="" hx-target="#resultados" class="nav-link" data-toggle="tab">Settings</btn></li>
          </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content">
            <div class="active tab-pane" id="resultados">
              {% include 'apps/operadores/partials/consumos.html' %}
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div><!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

{% endblock main-content %}