{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Operadores Admin</h1>
          
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'main:inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'operadores:list_admin' %}">Operadores</a></li>
            <li class="breadcrumb-item active">{{operador}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div><!-- /.content-header -->
{% endblock content-header %}

{% block main-content %}

<div class="row">
  <div class="col-md-3">
    
    <div class="card card-widget">
      <div class="card-header">
        <div class="user-block">
          <img class="img-circle" src="{% static operador.get_profile_picture %}" alt="User Image">
          <span class="username"><h5>{{ operador }}</h5></span>
          <span class="description">{{ operador.get_nivel_licencia }}</span>
        </div>
        <!-- /.user-block -->
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <div class="card-body">
      </div>
      <!-- /.card-header -->
    </div>
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-edit"></i>
          Reporte personal
        </h3>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs mb-3" id="custom-content-below-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill" role="tab" href="#"
              hx-get="{% url 'reportes:by-operador' operador.id %}"
              hx-target="#custom-content-below-tabContent"
            >Reporte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill" role="tab" href="#"
              hx-get="{% url 'reportes:pp-by-operador' operador.id %}"
              hx-target="#custom-content-below-tabContent"
            >PrePagos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-content-below-messages-tab" data-toggle="pill" href="#" role="tab" 
              
            >Messages</a>
        </ul>
        <div class="tab-content" id="custom-content-below-tabContent">
          {% include "apps/operadores/partials/consumos.html" %}
        </div>
        <div class="tab-custom-content">
          <p class="lead mb-0">Algunos datos Extra</p>
        </div>
        
      </div>
      <!-- /.card -->
    </div>

    <div class="card card-outline card-primary">
      <div class="card-header">
        <h3 class="card-title">Detalle de PrePagos</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>

{% endblock main-content %}