<div id="ingredient-{{ object.id }}" class="col-md-4">
    <div  class="card card-primary card-outline collapsed-card">
        <div class="card-header">
            <h3 class="card-title"> {{ object.cantidad }} {{ object.unidad }} - {{ object.nombre }}</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div  class="card-body">
            <p>{{ object.descripcion }}</p>
            <a hx-trigger="click" hx-get="{{ object.get_hx_edit_url }}" hx-target="#ingredient-{{ object.id }}" hx-swap="outerHTML" class="btn btn-info btn-sm" href=""><i class="fas fa-pencil-alt"></i> Editar</a>
            <a hx-post="{{ object.get_delete_url }}" hx-confirm="¿Realmente quieres borrar '{{ object.nombre }}'?" hx-trigger="click" hx-target="#ingredient-{{ object.id }}" hx-swap="outerHTML" class="btn btn-danger btn-sm" href="{{ object.get_delete_url }}"><i class="fas fa-trash"></i> Eliminar</a>
        </div>
    </div>
</div>


{% comment %} https://youtu.be/slg1WGOO0u0?list=PLEsfXFp6DpzRMby_cSoWTFw8zaMdTEXgL&t=1458 {% endcomment %}