
{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Mis Reportes</h1>
          
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'main:inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Reportes</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div><!-- /.content-header -->
{% endblock content-header %}


{% block main-content %}
<div class="row">
  <!-- left column -->
  <div class="col-md-3">
    <!-- /.card -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Filtros</h3>
      </div>
       <!-- form start -->
      <form hx-post="." hx-target="#consumo-results" hx-select="#consumo-results" hx-swap="outerHTML">
        {% csrf_token %}
      <div class="card-body">
        {% for field in form %}
        <div class="form-group">
        <label for={{field.name }}>{{ field.label }}:</label>
          {{ field }}
        </div>
        {% endfor %}
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button type="submit" class="btn btn-primary swalDefaultSuccess">Filtrar</button>
      </div>
      <!-- /.card-footer -->
    </form>
     <!--  /.form -->
    </div>
    <!-- /.card -->
  </div>
  <!--/.col (left) -->
  <!-- right column -->
  <div class="col-md-9">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Reporte</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">      
          <table class="table table-hover text-nowrap">
              <thead>
                  <tr>
                  <th>Día</th>
                  <th>Fecha</th>
                  <th>Socio</th>
                  <th>Rojo</th>
                  <th>Mayoreo</th>
                  <th>Insumos</th>
                  <th>Descuento</th>
                  <th>Verde</th>
                  <th>Efectivo</th>
                  </tr>
              </thead>
              <tbody id="consumo-results">
                  {% comment %} {% include 'apps/reportes/partials/results.html' %} {% endcomment %}
                  <tr>
                    <td colspan="3"><strong># Consumos: {{ consumos.count }} | PrePago ($): {{ totales.pp_oper }}</strong></td>
                    {% comment %} <td><strong> > Totales ></strong></td> {% endcomment %}
                    <td><strong>{{ totales.sobre_rojo }}</strong></td>
                    <td><strong>{{ totales.mayoreo }}</strong></td>
                    <td><strong>{{ totales.insumos }}</strong></td>
                    <td><strong>{{ totales.puntos_volumen }}</strong></td>
                    <td><strong>{{ totales.sobre_verde }}</strong></td>
                    <td><strong>{{ totales.efectivo }}</strong></td>
                  </tr>
                  
                  {% for consumo in consumos %}
                    <tr data-widget="expandable-table" aria-expanded="false"
                      _="on click toggle the *display of the next <p/>
                        toggle .d-none on the next <tr/>"
                        >
                      {% comment %} <td>{{ consumo.id }}</td> {% endcomment %}
                      <td>{{ consumo.comanda.fecha | date:'D' }}</td>
                      <td>{{ consumo.comanda.fecha | date:'d M Y' }}</td>
                      <td>{{ consumo }}</td>
                      <td>{{ consumo.sobre_rojo }}</td>
                      <td>{{ consumo.mayoreo }}</td>
                      <td>{{ consumo.insumos }}</td>
                      <td>{{ consumo.puntos_volumen }}</td>
                      <td>{% if consumo.comanda.prepago.all %}<span class="badge bg-warning">{{ consumo.sobre_verde }}</span>{% else %}{{ consumo.sobre_verde }}{% endif %}</td>
                      <td>{% if consumo.transferencia %}<span class="badge bg-info">{{ consumo.efectivo }}</span>{% else %}{{ consumo.efectivo }}{% endif %}</td>
                      
                    </tr>
                    <tr class="expandable-body d-none">
                      <td colspan="9">
                        <p style="display: none;">
                          <ul>
                            {% for item in consumo.comanda.comandaitem_set.all %}
                            <li>{{ item }} x {{ item.cantidad }}</li>
                            {% endfor %}
                          </ul>
                        </p>
                      </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td>{{ hoy | date:'D' }}</td>
                      <td>{{ hoy | date:'d M Y' }}</td>
                      <td>....</td>
                      <td>....</td>
                      <td>....</td>
                      <td>....</td>
                      <td>....</td>
                      <td>....</td>
                      <td>....</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <!--/.col (right) -->
</div>

{% endblock main-content %}

{% block js %}
<script>
  $(function() {
    var Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function() {
      Toast.fire({
        icon: 'success',
        title: 'Consulta Enviada'
      })
    });
  });

</script>
{% endblock js %}
